section {
  padding: 0 3%
}

img {
    width: 60%;
    height: auto;
    left: 20%;
    position: relative;
}

.weasel-register{
    position: absolute;
    bottom: 0;
    width: 20%;
}

.text-white{
    color: #000;
}

.text-blue{
    color: #3e50b4;
}

.register-card{
    min-width: 100%;
    min-height: 80%;
}

.bottom{
    position: absolute;
    bottom: 1px;
}

.height-80{
    max-height: 80%;
}

.width-80{
    min-width: 80%;
}

.img{
    max-width: 15%;
}

.mt {
  margin-top: 7%;
}

.mdl-tabs__tab {
  color: #EEE !important;
}

.is-active {
  color: #FFF !important;
}

.tutorial-card {
  display: inline-block;
  max-width: 20%;
  padding-top: 5%;
}

@font-face {
  font-family: 'Queen';
  src: url('../assets/queen-of-heaven-regular.ttf');
}

.logo {
  font-family: 'Queen';
  font-size: xx-large;
  padding: inherit;
}

.mdl-logo {
  background: url('../assets/weasel-logo-inverse.png') center / cover;
}

.layout-transparent {
  /*background: url('../assets/background.jpg') center / cover;
  background-color: #000;*/
}

.weasel-phones {
  background: url('../assets/weasel-phones.jpg') center / cover;
}

.github {
    background: url('../assets/github.png') center / cover;
}

.weasel-phones h2 {
  margin: initial;
}

.layout-transparent span,
.layout-transparent .mdl-layout__header,
.layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}

.fullscreen{
   position: relative;
   height: 100vh;
}

.almost-fullscreen{
   position: relative;
   height: 90vh;
}

.weasel-card-image.mdl-card {
  width: 1024px;
  height: 512px;
}

.mdl-card__title.folder-img {
  height: 176px;
  background: url('../assets/folder.png') center / cover;
}

.weasel-card-image > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}
.weasel-card-image__filename {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
